*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	background-size: cover;
	background: #ccc url(../imges/bg.jpg) center center no-repeat;
}
.wrapper > div:nth-child(2){
	margin-left: 40px;
}
.wrapper > div:nth-child(3){
	margin-left: 70px;
}
/*绝对居中*/
main{
	/*text-align: center;*/
	height: 100vh; /*视口/浏览器窗口高度*/
	display: flex;
	justify-content: center;
	align-items: center;
}

kbd{
	text-transform: uppercase;	
	width: 50px;
	height: 35px;
	display: inline-block;
	position: relative;
}
kbd > button{
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
}
kbd:hover button{
	display: block;
}
.wrapper .key{
	width: 60px;
	height: 42px;
	color: #666;
	border-radius: 5px;
	box-shadow: 0 0 0px 1px #ccc,0 3px 2px 1px rgba(08,08,08,0.4);
	font: 20px "微软雅黑";
	border: 1px solid #fff;
	background: linear-gradient(to bottom, #fff 0%,#ccc 100%);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.wrapper .rows{
	margin: 20px;
}
.rows .key{
	margin: 0 10px;
	position: relative;
}
.key img{
	height: 15px;
	width: 15px;
	position: absolute;
	left: 2px;
	bottom: 2px;
	border-radius: 7px;
}
.key .text{
/*	position: absolute;
	left:  2px;
	top: -2px;*/
}